* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

.top {
  min-height: 20vh;
  width: 90%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.map {
  height: 78vh;
  width: 90%;
  margin: auto;
}

/* Mobile Styles */
@media (max-width: 900px) {
  .map {
    height: 65vh;
  }
}